
body {
  margin: 0;
  text-align: center;
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
}
h1 {
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}