.footer {
  background-color: #333;
  color: white;
 padding: 10px;
  text-align: center;
  margin-top:auto;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  margin: 5px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #27c754;
  transform: scale(1.2);
}