.footer {
  background-color: #0f172a;
  color: white;
  padding: 10px;
  margin-top: auto;
  text-align: center;

}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  margin: 5px;

}

.social-icons a:hover {
  color: #27c754;
  transform: scale(1.2);
}