.footer {
  background-color: #333;
  color: white;
  padding: 1px;
  text-align: center;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  margin: 5px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #94c727;
  transform: scale(1.2);
}