
.button-group{
    display: flex;
    gap: 10px;
}
.button{
    font-size: medium;
    border-radius: 5px;
    background-color: rgb(158, 81, 226);
}
#title{
      backdrop-filter: blur(10px);
          color: #f4d35e;
          text-align: center;
          background-color: rgb(128, 128, 128);
}
